body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 10px;
}

.access-to-editionView {
  background-color: rgb(61, 170, 253);
  color: white;
  padding: 10px;
  font-size: 50px;
}

.editonView-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  max-width: 350px;
  margin: auto;
}

.label-for-date-input,
.label-for-happyMsg-input {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.date-input {
  margin-bottom: 50px;
}

.dayState-title {
  font-size: 20px;
  margin: 0;
}

.editionView-dayState {
  list-style: none;
  margin-bottom: 50px;
}

.editionView-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  max-width: 350px;
  margin: auto;
}

.editionView-saveButton {
  margin-bottom: 10px;
}

.dayListView {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.calendar-day {
  background-color: #C4C3C6;
  height: 50px;
  width: 50px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.calendar-day-good {
  background-color: green;
}

.calendar-day-bad {
  background-color: red;
}
